<form (submit)="register()" #registerForm="ngForm">
    <h2 class="text-center text-primary">
      
            Sign Up
       
        <hr>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="username" 
            [(ngModel)]="model.username"/>
            <input type="text" class="form-control" name="password" placeholder="password" 
            [(ngModel)]="model.password"/>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-success mr-2" type="submit">Register</button>
            <button class="btn btn-success mr-2" type="button" (click)="cancel()">Cancel</button>
        </div>
    </h2>
</form>
